* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

body {
  min-height: 100vh;
  background-color: #213555;
  border: 2px dotted red;
  color: white;
}

.nav-container {
  display: flex;
}

.logo {
  color: #f0bb78;
  font-size: 2em;
}
