* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

body {
  min-height: 100vh;
  background-color: #213555;
  border: 2px dotted red;
  color: white;
}

.logo {
  color: #f0bb78;
  font-size: 2em;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 0.004px 3px #f0bb78;
}

.nav-container li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.nav-container a {
  text-decoration: none;
  color: white;
}

.nav-container a:hover {
  color: #f0bb78;
}
