* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: rgb(53, 131, 131);
  border: 2px dotted red;
}
.testing {
  text-align: center;
}

.foots {
}
